/docs/read_the_docs/_build
/lib
/measures/UpgradeCosts/tests/in*
/measures/UpgradeCosts/tests/*.xml
/project_national/national*
!/project_national/national_baseline.yml
!/project_national/national_upgrades.yml
/project_testing/testing*
!/project_testing/testing_baseline.yml
!/project_testing/testing_upgrades.yml
/resources/buildstock.csv
/weather
