# Declare files that will always have CRLF line endings on checkout.

project_multifamily_beta/housing_characteristics/*.tsv text eol=crlf
project_singlefamilydetached/housing_characteristics/*.tsv text eol=crlf
project_testing/housing_characteristics/*.tsv text eol=crlf

test/housing_characteristics_bad_value/*.tsv text eol=crlf
test/housing_characteristics_duplicate_rows/*.tsv text eol=crlf
test/housing_characteristics_float_precision/*.tsv text eol=crlf
test/housing_characteristics_meaure_bad_argument_value/*.tsv text eol=crlf
test/housing_characteristics_measure_extra_argument/*.tsv text eol=crlf
test/housing_characteristics_measure_missing/*.tsv text eol=crlf
test/housing_characteristics_measure_missing_argument/*.tsv text eol=crlf
test/housing_characteristics_missing_parent/*.tsv text eol=crlf
test/housing_characteristics_missing_row/*.tsv text eol=crlf
test/housing_characteristics_newline_character/*.tsv text eol=lf
test/housing_characteristics_non_float/*.tsv text eol=crlf
test/housing_characteristics_nonexistent_dependency_option/*.tsv text eol=crlf
test/housing_characteristics_scientific_notation/*.tsv text eol=crlf
test/housing_characteristics_sum_not_one/*.tsv text eol=crlf
test/housing_characteristics_unused_tsv/*.tsv text eol=crlf