input/probability distributions (sent to Tendril  2016.03.11).zip
faraday.log
.temp/*
/*.pem
/*.pub
/res_stock.json
*.project
*.pydevproject
*.pyc
/resources/inputs/pnw/Windows H3.tsv
/resources/inputs/pnw/Windows H1.tsv
/resources/inputs/pnw/Windows H2.tsv
/resources/inputs/pnw/Insulation Wall H3.tsv
/resources/inputs/pnw/Insulation Wall H1.tsv
/resources/inputs/pnw/Insulation Wall H2.tsv
/resources/inputs/pnw/Insulation Unfinished Attic H3.tsv
/resources/inputs/pnw/Insulation Unfinished Attic H1.tsv
/resources/inputs/pnw/Insulation Unfinished Attic H2.tsv

/.bundle
compare_to_beopt
/download_files.rb
.DS_Store
.idea/*.*
/data/rbsa/sqlalchemy
data/rbsa/rbsadbmodel.pyc

data/rbsa/util.pyc

data/recs/RECS STUFF/recs2009_public.csv

resources/inputs/pnw/Heating Setback.tsv
resources/inputs/pnw/HVAC System Heating Secondary.tsv
resources/inputs/pnw/Heating Setpoint 2.tsv

data/pums/pkls
data/recs/MLR/recs.csv
data/recs/recs.csv
data/acs/acs.csv
data/pums/MLR/pums.csv
data/pums/MLR/pums_size.csv
data/ahs/data
data/recs/eia.recs_2009_microdata.pkl
data/recs/processed_eia.recs_2009_microdata.pkl
data/recs/RECS STUFF/eia.recs_2009_microdata.pkl
data/recs/RECS STUFF/processed_eia.recs_2009_microdata.pkl

resources/grid_elec.csv
resources/grid_ng.csv
resources/grid_oil.csv
resources/grid_prop.csv

/project_resstock_national/housing_characteristics/buildstock.csv
/project_resstock_pnw/housing_characteristics/buildstock.csv
/project_resstock_testing/housing_characteristics/buildstock.csv
/project_resstock_dsgrid/housing_characteristics/buildstock.csv
/project_resstock_comed/housing_characteristics/buildstock.csv
/project_resstock_efs/housing_characteristics/buildstock.csv
/project_resstock_national/project_resstock_national.json
/project_resstock_national/project_resstock_national.zip
/project_resstock_pnw/project_resstock_pnw.json
/project_resstock_pnw/project_resstock_pnw.zip
/project_resstock_testing/project_resstock_testing.json
/project_resstock_testing/project_resstock_testing.zip
/project_resstock_dsgrid/project_resstock_dsgrid.json
/project_resstock_dsgrid/project_resstock_dsgrid.zip
/project_resstock_comed/project_resstock_comed.json
/project_resstock_comed/project_resstock_comed.zip
/project_resstock_efs/project_resstock_efs.json
/project_resstock_efs/project_resstock_efs.zip

docs/build
node_modules/

test/reports

/master.zip
/master
/measures/UtilityBillCalculations/resources/tariffs

coverage