# Declare files that will always have CRLF line endings on checkout.

project_*/housing_characteristics/*.tsv text eol=crlf

project_*/housing_characteristics/*.tsv text eol=crlf

test/tests_housing_characteristics/housing_characteristics_*/*.tsv text eol=crlf
test/tests_housing_characteristics/housing_characteristics_newline_character/*.tsv text eol=lf

# Declare which files should be tracked by Git Large File Storage (LFS)
project_national/housing_characteristics/PUMA.tsv filter=lfs diff=lfs merge=lfs -text
project_national/housing_characteristics/County.tsv filter=lfs diff=lfs merge=lfs -text