version: 2
jobs:
  build:
    docker:
      - image: nrel/openstudio:2.8.1
    steps:
      - checkout
      - run: 
          name: Install gems
          command: |
            rm -f Gemfile.lock && bundle install
      - run:
          name: Update all measures
          command: |
            rake update_measures
      - run: 
          name: Regenerate test osms
          command: |
            rake test:regenerate_osms
      - run: 
          name: Run all tests
          command: |
            rake test:all
      - store_artifacts:
            path: workflows/results
            destination: results
