version: 2
jobs:
  build:
    docker:
      - image: nrel/openstudio:3.1.0-rc1
    steps:
      - checkout
      - run: 
          name: Install gems
          command: |
            rm -f Gemfile.lock && bundle install
      - run: 
          name: Run tests
          command: |
            bundle exec rake test_all
      - store_artifacts:
          path: workflow/tests/results
          destination: results
      - store_test_results:
          path: test/reports