name: ci

on:
  push:
    branches: [ master, develop ]
  pull_request:
    types: [ synchronize, opened ]
  workflow_dispatch:

jobs:
  bsb:
    runs-on: ubuntu-latest
    steps:
      - name: Show environment
        run: |
          ruby -v
          python -v

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: buildstockbatch
        run: |
          pip install git+https://github.com/NREL/buildstockbatch.git@develop
          
          buildstock_docker project_testing/testing_baseline.yml > testing_baseline.txt
          less testing_baseline.txt
          
          buildstock_docker project_testing/national_baseline.yml > national_baseline.txt
          less national_baseline.txt
          
          buildstock_docker project_national/testing_upgrades.yml > testing_upgrades.txt
          less testing_upgrades.txt
          
          buildstock_docker project_national/national_upgrades.yml > national_upgrades.txt
          less national_upgrades.txt

      - name: Upload national project integration results
        uses: actions/upload-artifact@v2
        with:
          path: project_national/national_baseline/results_csvs/results_up00.csv.gz
          name: national_baseline

      - name: Upload testing project integration results
        uses: actions/upload-artifact@v2
        with:
          path: project_testing/testing_baseline/results_csvs/results_up00.csv.gz
          name: testing_baseline

  build:
    runs-on: ubuntu-latest
    needs: bsb
    container:
      image: docker://nrel/openstudio:3.2.1
    steps:
      - name: Show environment
        run: |
          bundle -v
          ruby -v

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Install gems
        run: |
          rm -f Gemfile.lock && bundle install

      - name: Update all measures
        run: |
          rake update_measures

      - name: Regenerate test osms
        run: |
          rake test:regenerate_osms

      - name: Run all unit tests
        run: |
          rake test:unit_tests

      - name: Run all project tests
        run: |
          rake test:project_tests

      - name: Run all integration tests
        run: |
          rake test:integration_tests

      - name: Upload feature samples
        uses: actions/upload-artifact@v2
        with:
          path: resources/buildstock.csv
          name: samples

      - name: Upload integration results
        uses: actions/upload-artifact@v2
        with:
          path: test/test_samples_osw/baseline/results
          name: results

      - name: Upload schedules
        uses: actions/upload-artifact@v2
        with:
          path: resources/measures/ResidentialScheduleGenerator/tests/output/test_sweep_building_ids_and_num_occupants
          name: schedules

  compare-results:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Show environment
        run: |
          ruby -v
          python -v

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - name: Upload base samples and results
        uses: actions/upload-artifact@v2
        with:
          path: test/test_samples_osw/base
          name: base

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Download base samples and results
        uses: actions/download-artifact@v2
        with:
          path: |
            base
          name: base

      - name: Download feature samples
        uses: actions/download-artifact@v2
        with:
          path: |
            samples
          name: samples

      - name: Download feature results
        uses: actions/download-artifact@v2
        with:
          path: |
            results
          name: results

      - name: Compare samples and results
        run: |
          cp -r base/*.csv test/test_samples_osw/base
          mkdir test/test_samples_osw/results
          cp -r samples/buildstock*.csv test/test_samples_osw/results
          cp -r results/results* test/test_samples_osw/results
          
          pip install numpy
          pip install pandas
          pip install plotly
          pip install kaleido
          
          python test/compare.py -a samples
          
          python test/compare.py -a results
          python test/compare.py -a results -af sum -ac geometry_building_type_recs -x results_output_building_type_sum.csv
          
          python test/compare.py -a visualize -dc geometry_building_type_recs -x results_output_building_type.html
          python test/compare.py -a visualize -dc geometry_foundation_type -x results_output_foundation_type.html
          python test/compare.py -a visualize -dc county -x results_output_county.html
          python test/compare.py -a visualize -dc geometry_building_type_recs -ac county -af sum -x results_output_county_sum.html

      - name: Upload comparisons
        uses: actions/upload-artifact@v2
        with:
          path: test/test_samples_osw/comparisons
          name: comparisons

  update-results:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Download feature samples
        uses: actions/download-artifact@v2
        with:
          path: |
            samples
          name: samples

      - name: Download feature results
        uses: actions/download-artifact@v2
        with:
          path: |
            results
          name: results

      - name: Commit latest results
        shell: bash        
        run: |
          branch_name="${{ github.head_ref }}"
          git pull origin $branch_name
          cp -r samples/buildstock*.csv test/test_samples_osw/base
          cp -r results/results*.csv test/test_samples_osw/base
          git add test/test_samples_osw/base
          git status
          if [[ $(git diff --cached --exit-code) ]]; then
            git config --global user.email "github-action@users.noreply.github.com"
            git config --global user.name "GitHub Action"
            git commit -m "Latest results."
            echo "Pushing to branch: $branch_name"
            git push -u origin $branch_name
          fi
