name: ci

on:
  push:
    branches: [ master, develop ]
  pull_request:
    types: [ synchronize, opened ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker://nrel/openstudio:2.9.0
    steps:
      - name: Show environment
        run: |
          bundle -v
          ruby -v

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Install gems
        run: |
          rm -f Gemfile.lock && bundle install

      - name: Update all measures
        run: |
          rake update_measures

      - name: Regenerate test osms
        run: |
          rake test:regenerate_osms

      - name: Run all unit tests
        run: |
          rake test:unit_tests

      - name: Run all project tests
        run: |
          rake test:project_tests

      - name: Run all integration tests
        run: |
          rake test:integration_tests

      - name: Upload feature samples
        uses: actions/upload-artifact@v2
        with:
          path: resources/buildstock.csv
          name: samples

      - name: Upload integration results
        uses: actions/upload-artifact@v2
        with:
          path: test/test_samples_osw/results
          name: results

      - name: Upload schedules
        uses: actions/upload-artifact@v2
        with:
          path: resources/measures/ResidentialScheduleGenerator/tests/output/test_sweep_building_ids_and_num_occupants
          name: schedules

  compare-results:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Show environment
        run: |
          ruby -v
          python -v

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - name: Upload base samples and results
        uses: actions/upload-artifact@v2
        with:
          path: test/test_samples_osw/base
          name: base

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Download base samples and results
        uses: actions/download-artifact@v2
        with:
          path: |
            base
          name: base

      - name: Download feature samples
        uses: actions/download-artifact@v2
        with:
          path: |
            samples
          name: samples

      - name: Download feature results
        uses: actions/download-artifact@v2
        with:
          path: |
            results
          name: results

      - name: Compare samples and results
        run: |
          cp -r base/buildstock*.csv resources/base_buildstock.csv
          cp -r samples/buildstock*.csv resources/buildstock.csv
          pip install pandas
          python test/compare.py
          
          cp -r base/results*.csv test/test_samples_osw/base
          mkdir test/test_samples_osw/results
          cp -r results/results* test/test_samples_osw/results
          ruby test/compare.rb

      - name: Upload comparisons
        uses: actions/upload-artifact@v2
        with:
          path: test/test_samples_osw/comparisons
          name: comparisons

  update-results:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Download feature samples
        uses: actions/download-artifact@v2
        with:
          path: |
            samples
          name: samples

      - name: Download feature results
        uses: actions/download-artifact@v2
        with:
          path: |
            results
          name: results

      - name: Commit latest results
        shell: bash        
        run: |
          branch_name="${{ github.head_ref }}"
          git pull origin $branch_name
          cp -r samples/buildstock*.csv test/test_samples_osw/base
          cp -r results/results*.csv test/test_samples_osw/base
          git add test/test_samples_osw/base
          git status
          if [[ $(git diff --cached --exit-code) ]]; then
            git config --global user.email "github-action@users.noreply.github.com"
            git config --global user.name "GitHub Action"
            git commit -m "Latest results."
            echo "Pushing to branch: $branch_name"
            git push -u origin $branch_name
          fi

  docs:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        python-version: [3.8.4]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build documentation
        run: |
          cd docs/read_the_docs
          pip install -r requirements.txt
          make html

      - name: Upload docs
        uses: actions/upload-artifact@v2
        with:
          path: docs/read_the_docs/build
          name: readthedocs
